<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/head"></th:block>

<body class="index-page sidebar-collapse">

	<header th:replace="/index :: header"></header>

	<div class="main">
		
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2 col-sm-12">

						<div class="title" style="padding-top: 50px">
							<h2>Mantenimiento de Productos</h2>
						</div>
						
						<nav class="navbar navbar-light bg-light">
							<a th:href="@{/products/new}" class="btn btn-primary">Nuevo</a>
							<form th:action="@{/products/search}" method="GET">
								<div class="form-row align-items-center">
									<div class="col-auto">
										<label class="sr-only" for="inputName">Nombre</label>
										<input id="inputName" type="text" class="form-control" name="name"
											placeholder="Buscar por Nombre">
									</div>
									<div class="col-auto">
										<button type="submit" class="btn btn-primary">Buscar</button>
									</div>
								</div>					
							</form>
						</nav>

						<table class="table table-responsive highlight">
							<thead>
								<tr>
									<th>Codigo</th>
									<th>Nombre</th>
									<th>Und</th>
									<th>Ubicacion</th>
									<th>Precio</th>
									<th>Stock</th>
									<th>Stock Minimo</th>
									<th>Proveedor</th>																	
									<th>Categorias</th>
									<th>Editar</th>		
									<th></th>								
								</tr>
							</thead>
							<tbody>
								<tr th:each="product : ${productsList}">
									<td th:text="${product.id}"></td>
									<td th:text="${product.name}"></td>
									<td th:text="${product.unit}"></td>
									<td th:text="${product.location}"></td>
									<td th:text="${product.price}"></td>
									<td th:text="${product.stock}"></td>
									<td th:text="${product.min_stock}"></td>																										
									<td>
										<th:block th:each="supplier : ${product.supplier}">
											<span th:text="${supplier.name} + ' '">Item Description Here...</span>
										</th:block>								
									</td>
									
									<td>
										<th:block th:each="category : ${product.categories}">
											<span th:text="${category.name} + ' '">Item Description Here...</span>
										</th:block>								
									</td>
										<td><a
										th:href="@{/products/{id}/edit(id=${product.id})}"
										class="btn btn-primary">Editar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>			

			<div class="container">
				<th:block th:include="fragments/paginationProduct"></th:block>
			</div>

		</div>
	</div>
	
	<footer th:replace="index :: footer"></footer>
</body>

</html>
